body {
    font-family: Arial;
    margin: 20px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

.barra {
    height: 20px;
    background: blue;
    margin-bottom: 10px;
}
